*, ::after, ::before {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100%;
    padding: 3vw;
}
h1 {
    line-height: 1px;
    margin: 20px 0 0 0;
    letter-spacing: 1px;
}

.login {
    font-size: 0.9rem;
}

form {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px 0;
    width: 100%;
}

.labl-inp {
    margin-bottom: 20px;
}

input {
    padding: 7px;
    height: 35px;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 5px;
    color: gray;
    width: 100%;
}

.btn {
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    color: #f1f1f1;
    background-color: #362bc1;
    cursor: pointer;
}

.social-media {
    margin: 20px 0;
    font-size: 0.9rem;
}

.icones {
    display: flex;
}

.btn-icone {
    position: relative;
    display: block;
    margin: 10px 10px 0 0;
    width: 50px;
    height: 50px;
    background-color: #e9e8ed;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.238);
}

.i1, .i2, .i3 {
    position: absolute;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.illust {
    width: 100%;
}

@media screen and (min-width: 1024px){
    body {
        position: relative;
        height: 100vh;
        background-color: #f1f1f1;
    }
    .pop-up {
        width: 800px;
        margin: 100px auto;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        line-height: 1.5;
        background-color: white;
    }
    .container1 {
        padding: 20px 30px 0 0;
        grid-row: 1;
        grid-column: 2;
    }
    .container2 {
        grid-row: 2;
        grid-column: 1;
    }
    .illust {
        height: 420px;
    }
}